.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  border-top:1px solid black;
}

/* Album Info */
.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footer__albumLogo:hover {
  cursor: pointer;
}

.footer__songInfo a > h5 {
  font-size: 16px;
  margin-bottom: 5px;
  width: 175px;
}

.footer__songInfo a > p {
  font-size: 12px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.5);
  padding: 0;
}

.footer__heartCurrent {
  margin-left: 5px;
  font-size: 20px !important;
  opacity: 0.5;  
}

.footer__heartCurrent:hover {
  opacity: 1;
}

/* Player Controls */
.footer__durationContainer {
  position: absolute;
  bottom: 10px;
  padding: 0 auto;
  margin-left: 30%;
  width: 40%;
  display: flex;
  align-items: center;
}
.footer__durationContainer > span { 
  margin: 0 auto;
  color: white;
  font-size: 14px;
}

.footer__durationContainer * .MuiSlider-root {
  margin-top: -2.5px;
  color: #b3b3b3 !important;
}

.footer__durationContainer * .MuiSlider-thumb {
  justify-content: center;
  display: none;
}

.footer__durationContainer * .MuiSlider-thumb:hover {
  color: white;
  margin-top: -2.5px;
  display: block;
}

.footer__durationContainer * .MuiSlider-track {
  background-color: #b3b3b3;
  width: 50% !important;
  height: 5px;
  border-radius: 10px;
}

.footer__durationContainer * .MuiSlider-rail {
  background-color: #535353;
  width: 100%;
  height: 5px;
  border-radius: 10px;
}

.footer__durationContainer * .MuiSlider-track:hover {
  background-color: #1ed15e;
}

.footer__durationBar {
  margin: 0 auto;
  width: 85% !important;
}

.footer__center {
  position: relative;
  flex: 0.4;
  max-width: 300px;
  height: fit-content;
  padding: 0 100px 0 100px !important;
  margin-top: -5px !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__green {
  color: #1ed15e;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.footer__play {
  border: 1px solid white;
  border-radius: 50%;
}

/* Volume Controls */
.footer__playlistIcon:hover {
  transition: color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 1);
}
.footer__deviceIcon {
  margin-top: 2px;
  font-size: 20px !important;
}

.footer__deviceIcon:hover {
  transition: color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 1);
}

.footer__volumeIcon:hover {
  transition: color 0.2s ease-in-out;
  color: rgba(255, 255, 255, 1);
}

.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}

.footer__right * .MuiSlider-root {
  width: 100px;
  margin-top: -2.5px;
  color: #b3b3b3 !important;
}

.footer__rightContainer *  .MuiSlider-thumb {
  justify-content: center;
  display: none;
}

.footer__rightContainer:hover *  .MuiSlider-thumb {
  color: white;
  margin-top: -2.5px;
  display: block;
}

.footer__rightContainer * .MuiSlider-track {
  width: 50px;
  height: 5px;
  border-radius: 10px;
}

.footer__rightContainer * .MuiSlider-rail {
  width: 100px;
  height: 5px;
  border-radius: 10px;
}

.footer__rightContainer:hover * .MuiSlider-track {
  background-color: #1ed15e;
}

.footer__rightContainer {
  padding-left: 50%;
}
